
@{
    ViewData["Title"] = "Completed";
}



<div class="row">
    <div class="col-md-12">
        <h2>Completed</h2>

        <p>Thank you , your order has been successfully completed!.</p>

    </div>
</div>
