
@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-md-12">
        <h2>Error</h2>

        <p>An error occurred during the operation. The error detail is below.</p>
        @ViewBag.Hata


    </div>
</div>
