
@using MediaMark.Models;
@{
    ViewBag.Title = "MediaMark App";
    IEnumerable<Category> CategoryList = ViewBag.CategoryList as IEnumerable<Category>;
    IEnumerable<Products> LastProducts = ViewBag.LastProducts as IEnumerable<Products>;
}

<div class="jumbotron"><img src="/images/Media_Markt.jpg"  width="100%" height="100%">
        
    </div>




<div class="row">
    <div class="col-md-3">
        <h2>Categories</h2>
        <ul>

            @foreach (var item in CategoryList)
            {
                <li>@Html.ActionLink(item.CategoryName, "Kategori", new { id = item.CategoryId })</li>

            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (var item in LastProducts)
            {
                <div class="col-md-4" style="border:1px solid #808080">
                    <h5>@item.ProductName</h5>
                    <img src="/images/@(item.ProductID).jpg" style="max-width: 100%;" />

                    <p>
                        <a class="btn btn-default" href="@Url.Action("Produkt", "Home", new { id= item.ProductID })">
                            <b>More Details &raquo;</b> 
                        </a> <span style="        color: red;
        float: right;
        font-weight: bold;
        font-size: 16px;">
                            @item.ProductPrice den.
                        </span>
                    </p>
                </div>
            }

        </div>
    </div>
</div>
